# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# YOLO runs (keep only best model)
runs/detect/train/
runs/detect/train2/
runs/detect/train3/


# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/
